# https://myaccount.google.com/apppasswords to get credentials for email SMTP
NEXT_PUBLIC_EMAIL_SMTP_SENDER=
NEXT_PUBLIC_EMAIL_SMTP_APP_PASS=
NEXT_PUBLIC_EMAIL_SMTP_RECIPIENT=
NEXT_PUBLIC_EMAIL_APPROVE_SECRET=